#root {
  
  margin: 0 auto;
  text-align: center;
}
div{
  column-count: 2;
}
.Floating{
  overflow:auto;
  height: 500px;
  width: 90%;
}
/*
table, th, td {
  text-align: left;
  vertical-align: top;
}
.Application{
  vertical-align: top;
}

.UnitLibrary {
  border: 1px solid;
  margin: 10px;
  text-align: center;
  min-width: 95%;

}
.ArmyList{
  border: 1px solid;
  min-width: 95%;
  
}
.ExtraPadding{
  min-width: 100px;
  text-align: center;
}
*/