#root {
  
  margin: 0 auto;
  text-align: center;
}
div.FloatingTable{
  overflow:auto;
  height: 500px;
}
div.LibraryFilters{
  text-align: left;
}
div.ArmyMenu{
  text-align:right;
}
table,td, th {
  margin:10px;
  min-width:50px;
  border: 1px solid;
  border-collapse: collapse;
}
.MainBox{
  border: 1px solid;
  border-collapse: collapse;
  border-spacing: 10px;
  width: 1200px;
}
.TableHolder{
  width: 50%;
}
.UnitName{
  text-align:left;
  min-width: 50%;
}
.UnitPointValue{
  width: 10%;
  text-align: center;
}
tr.federal{
  background-color: rgba(69, 105, 151, 0.5);
}
tr.lupar{
  background-color:rgba(105, 105, 105, 0.5)
}
tr.rygolic{
  background-color: rgba(138, 39, 39, 0.5);
}
tr.santagri{
  background-color: rgba(26, 148, 26, 0.5);
}