#root {
  
  margin: 0 auto;
  text-align: center;
}


table, th, td {
  text-align: left;
  vertical-align: top;
}
.Application{
  vertical-align: top;
}
.UnitLibrary {
  border: 1px solid;
  margin: 10px;
  text-align: center;
  min-width: 45%;
}
.ArmyList{
  border: 1px solid;
  min-width: 45%;
  
}
.ExtraPadding{
  min-width: 100px;
  text-align: center;
}